{% extends 'base.html' %}


{% block menu %}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Giới Thiệu</li>
</ol>
{% endblock %}

{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-145 page type-page status-publish ast-article-single" id="post-145" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
        <div class="entry-content clear" itemprop="text">
          <p style="text-align: justify;">Xin kính chào quý khách hàng,</p>
          <p style="text-align: justify;">Công ty TNHH Xây dựng TMDV Khải Nhân chúng tôi là đơn vị chuyên cung cấp các loại bạt che nắng mưa chuyên dụng, chuyên thi công lắp đặt các sản phẩm:</p>
          <ul style="text-align: justify;">
            <li>Mái hiên di động</li>
            <li>Mái che di động</li>
            <li>Mái xếp di động</li>
            <li>Mái che thông minh</li>
            <li>Bạt che nắng mưa</li>
            <li>Dù che nắng các loại</li>
          </ul>
          <p style="text-align: justify;">Chúng tôi hoạt động với phương châm luôn lắng nghe và đặt quyền lợi của khách hàng lên trên hết. Vì chúng tôi hiểu rằng, chỉ khi làm việc vì khách hàng, khách hàng mới tin tưởng và đồng hành cùng mái xếp Khải Nhân trong thời gian dài.</p>
          <p style="text-align: justify;">Đến với mái xếp Khải Nhân, khách hàng sẽ luôn nhận được sự tư vấn, hỗ trợ tận tình, chu đáo. Chúng tôi sở hữu đội ngũ nhân viên dày dặn kinh nghiệm, am hiểu kỹ thuật, chắc chắn sẽ giúp khách hàng có được sản phẩm mái hiên di động, mái che di động, mái xếp di động, bạt che nắng mưa các loại chất lượng, ưng ý nhất!</p>
          <p>Mọi chi tiết xin vui lòng liên hệ:</p>
          <p><span style="color: #0000ff;"><a style="color: #0000ff;" href="{% url 'shop:home_page' %}"><strong>Công ty TNHH Xây dựng TMDV Khải Nhân</strong></a></span></p>
          <ul>
            <li>Địa chỉ: Hoàng Diệu, Chương Mỹ, Hà Nội</li>
            <li>Mã số thuế: 0109757694</li>
            <li>Hotline: 0973 883 992</li>
            <li><span class="">Email:</span> maihiendidongkhainhan@gmail.com</li>
          </ul>
          <p>
      </div><!-- .entry-content .clear -->



    </article>
  </main>
</div>
{% endblock %}
