{% extends 'base.html' %}
{% load static %}

{% block menu %}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
</ol>
{% endblock %}

{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-260 page type-page status-publish has-post-thumbnail ast-article-single" id="post-260" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">


      <div class="entry-content clear" itemprop="text">


        <p style="text-align: center;">Mái hiên di động Khải Nhân chuyên cung cấp bạt mái che, mái hiên, mái xếp, bạt che nắng mưa giá rẻ! Khách hàng có nhu cầu mua bạt che nắng, bạt mái hiên, bạt mái xếp, bạt mái che chất lượng tốt hoặc muốn lắp đặt mái hiên di động, mái che di động, mái xếp di động giá rẻ, hãy liên hệ với chúng tôi để nhận ưu đãi mới nhất!</p>
      <p></p>
      <p>&nbsp;</p>
      <h2>Hệ thống phân phối bạt mái che nắng mưa giá rẻ trên toàn quốc</h2>
      <p>Chúng tôi cam kết cung cấp sản phẩm bạt che nắng, mành che nắng, bạt xanh cam:</p>
      <ul>
      <li>Chất lượng tốt, mẫu mã đẹp, đa dạng chủng loại, nguồn gốc xuất xứ rõ ràng.</li>
      <li>Sản phẩm bảo hành lên đến 36 tháng, hỗ trợ nhiệt tình trước, trong và sau quá trình mua hàng.</li>
      <li>Giá thành cạnh tranh, nhiều ưu đãi hấp dẫn cho khách hàng mua số lượng lớn!</li>
      </ul>
      <h2>Nhận lắp đặt mái hiên di động, mái che di động, mái xếp di động chất lượng, giá rẻ!</h2>
      <p>Khi lựa chọn Mái hiên di động Khải Nhân, khách hàng sẽ nhận được:</p>
      <ul>
      <li>Dịch vụ lắp đặt mái hiên di động, mái xếp di động, mái che di động nhanh chóng, nhiệt tình, chuyên nghiệp.</li>
      <li>Bạt che nhập khẩu từ Đài Loan, Hàn Quốc, Nhật, Úc, Mỹ,…cam kết khả năng che chắn nắng mưa, cách nhiệt, chống nóng lên đến 90%.</li>
      <li>Giá lắp đặt mái hiên, mái che, mái xếp được tính trọn gói, không thu thêm phụ phí!</li>
      <li>Lắp đặt theo yêu cầu, với đội ngũ nhân viên kỹ thuật nhiều năm kinh nghiệm, đảm bảo đúng an toàn kỹ thuật, chắc chắn, bền đẹp.</li>
      </ul>
      <p><img decoding="async" loading="lazy" class="aligncenter" src="{% static 'assets/img/bang_hieu.jpg' %}" alt="mái hiên di động" width="869" height="376"/></p>
      <p>Mọi chi tiết xin vui lòng liên hệ:</p>
      <p><strong>Công ty TNHH Xây dựng TMDV Khải Nhân</strong></p>
      <ul>
      <li>Địa chỉ: Phường 15, Tân Bình, thành phố Hồ Chí Minh</li>
      <li>Hotline: 0907 408 003</li>
      <li>Email:&nbsp;maihiendidongkhainhan@gmail.com</li>
      </ul>
      </div><!-- .entry-content .clear -->
    </article>
  </main>
</div>
{% endblock %}
