{% extends 'base.html' %}


{% block menu%}
<ol>
  <li><a href="home_page.html">Trang Chủ</a></li>
  <li>Liên Hệ</li>
</ol>
{% endblock %}


{% block content %}
<div id="primary" class="content-area primary">
  <main id="main" class="site-main">
    <article class="post-146 page type-page status-publish ast-article-single" id="post-146" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
      <div class="entry-content clear" itemprop="text">


        <p style="text-align: justify;">Trong quá trình tham khảo sản phẩm, sử dụng các sản phẩm của bạt mái xếp Khải Nhân như: mái hiên di động, mái che di động, mái xếp di động, các loại bạt che nắng mưa chuyên dụng,&#8230;khách hàng cần tư vấn thêm, hãy liên hệ với chúng tôi qua địa chỉ:</p>
      <p><strong>Công ty TNHH Xây dựng TMDV Khải Nhân</strong></p>
      <ul>
      <li>Địa chỉ: Hoàng Diệu, Chương Mỹ, Hà Nội</li>
      <li>Mã số: 0109757694</li>
      <li>Hotline: 0973 883 992</li>
      <li><i class=" icofont-email"></i><span class="">Email:</span> batmaixep@gmail.com</li>
      </ul>
      <p>Hệ thống chi nhánh:</p>
      <ul>
      <li>Chi nhánh 1: Số 59, Tổ 3, Văn Nội, Phú Lương, Hà Đông</li>
      <li>Chi nhánh 2: Thôn Thạch Điền, Thạch Hà, Hà Tĩnh</li>
      <li>Chi nhánh 3: Đường D8, KDC Thuận Giao, Thuận An, Bình Dương</li>
      <li>Chi nhánh 4: 440 Đặng Thúc Vịnh, Ấp 1, xã Đông Thạnh, Hóc Môn, Tp. HCM</li>
      </ul>



      </div><!-- .entry-content .clear -->



    </article>
  </main>
</div>
{% endblock %}
